{% extends 'base_site.html' %}
{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load thumbnail %}
<body>
    <a><img src="{% thumbnail article.image 100x100 crop %}" class="card-img-top" alt="..."></a>
<br>
{{ article.title }}
<br>
info: {{ article.text|safe }}
{# Кнопка лайка #}
<form action="{% url 'like_articles' %}" method="POST">

    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ request.user.id }}">
    <input type="hidden" name="article_id" value="{{ article.id }}">
    like: <span id="like-count">{{ like_count }}</span>
    <button type="submit" id="button_label">{{ button_label }}</button>

</form>
    <br>
{# Кнопки избранного #}
<form action="{% url 'favorite_articles' %}" method="POST">

    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ request.user.id }}">
    <input type="hidden" name="article_id" value="{{ article.id }}">
    <button type="submit" id="f_button_label">{{ f_button_label }}</button>

</form>


<a href="{% url 'edit_article' article.id %}">Edit</a>

<script>
$(document).ready(function() {
    $('form').submit(function(event) {
        event.preventDefault();

        var form = $(this);
        var formData = form.serialize();

        $.ajax({
            type: 'POST',
            url: form.attr('action'),
            data: formData,
            success: function(response) {
                var newLikeCount = response.like_count;  // сервер возвращает новое количество лайков.
                var newButton_label = response.button_label;  // сервер возвращает новое имя кнопки
                var f_newButton_label = response.f_button_label;  // F_сервер возвращает новое имя кнопки
                $('#like-count').text(newLikeCount);  // Обновляет отображаемое количество лайков.
                $('#button_label').text(newButton_label);  // Обновляет отображаемое имя кнопки.
                $('#f_button_label').text(f_newButton_label);  // F_Обновляет отображаемое имя кнопки.
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
});
</script>
</body>

{% endblock %}