{% extends 'base_site.html' %}
{% block content %}

<section class="section">
{#  <div class="container">#}
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Basket {{ user.username }}</h2>
        <div class="section-border"></div>

        <h3>{{ baskets_count }}</h3>

          {% for basket in baskets %}
            <a href="{{ basket.game.get_absolute_url }}">{{ basket.game.name }} {{ basket.game.price }}
                <form action="{% url 'basket_clearing' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ request.user.id }}">
                    <input type="hidden" name="game_id" value="{{ basket.game.id }}">
                    <button type="submit" id="clear_button_label">clear</button>
                </form>
            </a> <br><br>
            {% endfor %}
          <h4>Total summ:<br>{{ total_sum }}</h4>

      <form action="{% url 'order' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ request.user.id }}">
    <button type="submit" id="order_button_label">buy</button>
      </form>

    <br>

      <form action="{% url 'basket_clearing' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ request.user.id }}">
    <button type="submit" id="clear_button_label">all clear</button>
      </form>

      </div>
    </div>
</section>

{% endblock %}