{% extends 'base_site.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<!-- games -->
    {{ news_all }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>News</h2>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row">
        {% for card in news_all %}
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <article class="card">
          <a href="{{ card.get_absolute_url }}"><img src="{% thumbnail card.image 300x300 crop %}" alt="post-thumb" class="card-img-top mb-2"></a>
          <div class="card-body p-0">
            <time>{{ card.data }}</time>
            <a href="{{ card.get_absolute_url }}" class="h4 card-title d-block my-3 text-dark hover-text-underline">{{ card.name }}</a>
              <time>{{ card.info|safe|truncatewords:10 }}</time>
              <br>
            <a href="#" class="btn btn-transparent">Read more</a>
          </div>
        </article>
      </div>
        {% endfor %}
    </div>
  </div>
</section>
<!-- /games -->
{% endblock %}