{% extends 'base_site.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<!-- games -->
<!--    {{ news_all }}-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>News</h2>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row">
        {% for card in news_all %}
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <article class="card">
            {% if card.urlToImage %}
             <a href="{{ card.url }}"><img src="{{card.urlToImage}}" alt="post-thumb" class="card-img-top mb-2"></a>
            {% endif %}
          <div class="card-body p-0">
            <time>{{ card.publishedAt }}</time>
            <a href="{{ card.url }}" class="h4 card-title d-block my-3 text-dark hover-text-underline">{{ card.title }}</a>
              <time>{{ card.description|safe|truncatewords:10 }}</time>
              <br>
            <a href="{{ card.url }}" class="btn btn-transparent">Read more</a>
          </div>
        </article>
      </div>
        {% endfor %}
    </div>
  </div>
</section>
<!-- /games -->
{% endblock %}